<div class="tab">
    <button id="pendientes" class="tablink" (click)="cambiar();">Devoluciones Pendientes</button>
    <button id="atrasadas" class="tablink" (click)="cambiar();">Devoluciones Atrasadas</button>
    <!-- <button class="btn" onclick="openCity(event, 'Paris')">Paris</button> -->
</div>
<div style="overflow:auto;
height:400px;" *ngIf="leido == false && seleccionado == false">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Libro</th>
                <th>Usuario</th>
                <th>Bibliotecario</th>
                <th>Fecha de entrega acordada</th>
                <!-- <th>Acciones</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- | usuarioSearch: busquedau -->
            <tr *ngFor="let prestamo of prestamos ">
                <td>{{prestamo.libro.descripcion}}</td>
                <td>{{prestamo.usuario.nombres}} {{prestamo.usuario.app}} {{prestamo.usuario.apm}}</td>
                <td>{{prestamo.bibliotecario.nombres}} {{prestamo.bibliotecario.app}} {{prestamo.bibliotecario.apm}}</td>
                <td>{{prestamo.fecha_entrega_A | convertir}}</td>
                <!-- <td>
                    <button class="btn btn-sm btn-success" (click)="marcar(prestamo._id);"><i class="fas fa-check"></i> Seleccionar</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="leido == true && seleccionado == false">
    <button class="btn  btn-danger" (click)="desmarcar()">Cambiar Usuario</button>
    <br><br>
    <div class="form-group" class="col-lg-5">
        <label for="">Nombre</label>
        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="nombres" disabled>
    </div>
</div>

<div style="overflow:auto;
height:400px;" *ngIf="leido == false && seleccionado == true">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Libro</th>
                <th>Usuario</th>
                <!-- <th>Bibliotecario</th> -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- | usuarioSearch: busquedau -->
            <tr *ngFor="let prestamo of prestamos ">
                <td>{{prestamo.libro.descripcion}}</td>
                <td>{{prestamo.usuario.nombres}} {{prestamo.usuario.app}} {{prestamo.usuario.apm}}</td>
                <!-- <td>{{prestamo.bibliotecario.nombres}} {{prestamo.bibliotecario.app}} {{prestamo.bibliotecario.apm}}</td> -->
                <td>
                    <button class="btn btn-sm btn-success" (click)="marcar(prestamo._id);"><i class="fas fa-check"></i> Seleccionar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="leido == true && seleccionado == true">
    <button class="btn  btn-danger" (click)="desmarcar()">Cambiar Usuario</button>
    <br><br>
    <div class="form-group" class="col-lg-5">
        <label for="">Nombre</label>
        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="nombres" disabled>
    </div>
</div>